@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400&display=swap');


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161415;
    color: #FDFEFE;
    font-family: "Lora";
    padding: 20px;

}

.title {
    margin: 0;
    font-size: 2em;
}