.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-image: linear-gradient(white, yellow);
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Courier New', 'monospace';
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;

}

.iconContainer {
  display: flex;
  justify-content: right;
  alignment: right;
  padding: 20px;
  border: 2px solid lightblue;
  border-radius: 10px;
}