//import all the components here for the css

@import 'components/searchBar';
@import 'components/weatherCard';
@import 'components/contactIcons.scss';

.mainPage{
       display:flex;
       flex-direction: column;
}

.surroundingCities{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
}